#signOut {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.5rem 0.5rem 0 0;
    padding: 0.5rem 1rem;
}

#classes {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25rem);;
    padding: 0 1vw;
}

.class-child {
    width: 20rem;
    aspect-ratio: 4/3;
    text-align: center;
    padding: 1rem;
    border: 0.125rem solid var(--border-c);
    border-radius: 2%;
    background-image: linear-gradient(to bottom, var(--highlight) 50%, var(--border-c) 50%, var(--border-c) 51%, var(--white) 52%);
    cursor: pointer;
    margin: 1rem;
}

.class-child h1 {
    color: var(--white);
    height: 50%;
    padding: 0.5rem;
}

#new.class-child {
    color: var(--white);
    background-image: none;
    background-color: var(--highlight);
}

#new.class-child h1 {
    font-size: 6rem;
    align-items: center;
    height: 30%;
    display: flex;
    justify-content: center;
}

/* .class-child h2 {
} */

#new-class {
    position: absolute;
    font-size: large;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--white);
    display: none;
    padding: 2rem;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* input[name="newclass"]
{
    font-size: 2rem;
} */

#new-class * {
    font-size: 2rem;
    text-align: center;
}